<div class="d-flex" style="overflow: hidden;">
  <div *ngIf="mainService.asideStatus" id="asideBg" (click)="mainService.asideStatus = !mainService.asideStatus">
  </div>
  <app-aside></app-aside>
  <main class="{{mainService.asideStatus ? 'mainOpenAside':'mainCloseAside'}}">
    <div class="position-relative" [style]="'height: calc( 100vh  )'">
      <div class="bg-white boxShadow-8 ng-star-inserted position-absolute top-50 translate-middle-y"
        style="z-index: 100000001;">
        <button class="btn text-main border-0 fs-5 p-0" type="button" style="min-width: 25px;"
          (click)="mainService.asideStatus = !mainService.asideStatus">
          <fa-icon [icon]="mainService.asideStatus ? 'angles-right':'angles-left'" class="menuBtn"></fa-icon>
        </button>
      </div>
      <app-header></app-header>
      <div class="overflow-auto" [ngClass]="{'border-start' : mainService.asideStatus}"
        [style]="'height: calc( 100vh - ' + (mainService.navHeight + mainService.footerHeight) + 'px );'">
        <div class="h-inherit p-3">
          <div class="bg-white boxShadow-10 p-3" style="height: -webkit-fill-available;">
            <div class="h-inherit overflow-auto" style="background-color: #f1f1f1f7;">
              <p-toast position="bottom-left" key="bl"></p-toast>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </main>
</div>


<!-- <app-aside></app-aside>
 <app-header></app-header> 
              <router-outlet></router-outlet>

 <app-footer></app-footer> -->