 <aside class="overflow-auto bg-white position-relative {{mainService.asideStatus ? 'openAside':'closeAside'}}"
  id="aside"
  [style]="'transition-duration: 0.2s ;height: calc( 100vh );' ">
  <div class="flex-shrink-0"
    style="min-height: 100%;background-color:#ddddddf2;">
    <a routerLink="/" class="d-block fs-3 line-height-4 pt-4 pb-5 text-center text-main">
      <img src="assets/images/logo.png" class="d-block mx-auto boxShadow-8 p-2 bg-white" style="width:245px;" alt="">
     </a>

    <ul class="accordion list-unstyled mb-0 pb-4 px-3" id="accordionExample">
      <li class="mb-4 rounded accordion-item p-0">
        <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="accordion-button collapsed noDown btnAside btn btn-toggle btn-outline-main p-2 text-center"
          type="button">
          <div class="px-2 me-2 rounded">
            <fa-icon [icon]="'home'"></fa-icon>
          </div>
          الرئيسية
        </button>
      </li>
      <li class="mb-4 rounded accordion-item p-0">
        <button routerLink="confirm-preperaton" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="accordion-button collapsed noDown btnAside btn btn-toggle btn-outline-main p-2 text-center"
          type="button">
          <div class="px-2 me-2 rounded">
            <fa-icon [icon]="'list-check'"></fa-icon>
          </div>
          التحضيرات
        </button>
      </li>
    </ul>






























  </div>





</aside> 