<p-toast position="bottom-left" key="bl"></p-toast>

<div class="bg-main d-flex dir-rtl" [style.minHeight.vh]="100">
  <div class="bg-white m-auto overflow-auto p-2 px-md-5 py-md-5 rounded-5">

    <form [formGroup]="loginForm" [style.direction]="'inherit'" [style.width.px]="350">
      <div class="row justify-content-center mx-0">
        <img src="assets/images/logo.png" class="mb-5 p-0" [style.width.px]="140" alt="">
      </div>

      <div class="row mx-0">
        <div class="col my-2">
          <input id="float-input" class="w-100 text-end rounded-5" placeholder="Username" type="text" pInputText
            formControlName="username">
        </div>
        <div class="col d-flex align-items-center p-0" [style.maxWidth.px]="62">
          <span class="bg-white d-flex justify-content-center align-items-center rounded-circle boxShadowLikeBtn"
            style=" height: 50px; width: 50px;">
            <i class="pi pi-user fs-4 text-main"></i>
          </span>
        </div>
      </div>






      <div class="row mx-0">
        <div class="col my-2">
          <p-password id="Password" formControlName="password" pInputText placeholder="Password"
            class="text-start p-0 border-0 w-100 dir-ltr" [toggleMask]="true"></p-password>
        </div>
        <div class="col d-flex align-items-center p-0" [style.maxWidth.px]="62">
          <span class="bg-white d-flex justify-content-center align-items-center rounded-circle boxShadowLikeBtn"
            style=" height: 50px; width: 50px;">
            <i class="pi pi-unlock fs-4 text-main"></i>
          </span>
        </div>
      </div>

     


      <div class="row mx-0">
        <div class="col my-2">
          <button pButton pRipple type="submit"
            class="p-button-raised p-button-text bg-white text-main justify-content-center w-100" (click)="Login()">
             Login
          </button>
        </div>
        <div class="col d-flex align-items-center p-0" [style.maxWidth.px]="62">
          <span class="bg-white d-flex justify-content-center align-items-center rounded-circle boxShadowLikeBtn"
            style=" height: 50px; width: 50px;">
            <i class="pi pi-sign-in fs-4 text-main"></i>
          </span>
        </div>
      </div>


      <div class="row mx-0 mt-5">
        <div class="col my-2">
          <button pButton pRipple type="submit"
            class="p-button-raised p-button-text bg-white text-main justify-content-center w-100" routerLink="register">
           If you don't have account
           <br>
           Register
          </button>
        </div>
        <div class="col d-flex align-items-center p-0" [style.maxWidth.px]="62">
          <span class="bg-white d-flex justify-content-center align-items-center rounded-circle boxShadowLikeBtn bg-white text-main"
            style=" height: 50px; width: 50px;">
            <i class="pi fs-4 pi-user-plus" ></i>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>