::ng-deep p-password div input{
    text-align: end;
}
::ng-deep div input{
    text-align: end;
}


::ng-deep  p-password .p-password.p-component{
    width: -webkit-fill-available;
}



/* ::ng-deep .p-float-label > label{
    left: unset;
    right: 6px;
} */