<footer class="align-items-center bg-repeat-x bg-white border d-flex justify-content-center text-center"
  [style]="'height: ' +mainService.footerHeight+'px;'">
  <span class="bg-white boxShadow-10 d-inline-block fs-5 rounded text-main px-1">
    جميع الحقوق محفوظة &copy; 2022
  </span>
</footer>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              